.preview {
  margin-top: 100px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.card-group {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.deal-button {
  font-size: 20px;
  height: 40px;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.buttons {
  display: flex;
  width: 100%;
}

.result {
  width: 200px;
  height: 200px;
  border-radius: 200px;
}
